body {
	background-color: #333333
}

* {
	font-family: sans-serif;
	color: white;
}

button {
	background-color: #202020;
	border-color: #000000;
	border-radius: 5px;
	font-size: 12pt;
}

.formula-input {
	background-color: #202020;
	font: 10pt monospace;
	border-width: 0;
	padding: 4px;
}

.main-container {
	margin: auto;
    width: 80%;
    height: 100%;
    max-width: 800px;
    min-width: 600px;
    padding: 10px;
}

.pid-parameters {
	margin: auto;
	padding: 10px;
	border: 3px solid #111111;
	border-radius: 10px;
	background-color: #303030;
	width: 90%;
}

.slider-container {
	margin: auto;
	width: 100%;
    margin-bottom: 5px;
}

.sliders {
	margin: 5px;
	margin-bottom: 10px;
}

.graphs-container {
	margin: auto;
	margin-bottom: 10px;
	background-color: #222222;
	border: 3px solid #111111;
	border-radius: 10px;
	padding: 10px;
	width: 90%;
}

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 20pt;
}

.label-text {
	font-size: 16pt;
	line-height: 1;
}

.info-text {
	font-size: 12pt;
}

.number-text {
	font: 14pt monospace;
}

.pid-slider-value {
	font: 12pt monospace;
	color: white;
	line-height: 1;
}

.pid-slider {
	-webkit-appearance: none;
	appearance: none;
	width: 85%;
	height: 10px;
	background: #b0b0b0;
	opacity: 0.7;
	-webkit-transition: .2s;
    transition: opacity .2s;
}

.pid-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
}

.pid-slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
}
